<html>
	<head>
	</head>
	<body>
		<div class="entry">
		  <h1>Food bank</h1>
		  <div class="body">
		    <table>
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
			{{#items}}
				<tr>
					<td>{{type}}</td>
					<td>{{name}}</td>
				</tr>
			{{/items}}
			</tbody>
		    </table>
		  </div>
		</div>
	</body>
</html>